  

  
  button,
   .mat-icon-button,
    .mat-stroked-button {
      margin-top: 20px;
      margin-right: 10px;
      align-items: initial;
  }
  
  mat-form-field {
    margin-right: 12px;
  }


  .cardLancamento{
    width: 400px;
  }

