<div class="initial">

    <div class="logo">
      <img width="128" src="assets/logo.jpg">
    </div>
  
    <mat-card>Sistema de gerênciamento de ponto da <strong>P21 Sistemas</strong> </mat-card><br />
  
    <p>Seja bem vindo <strong>{{nome}}</strong>.</p>
    
    <div class="select">
      <form [formGroup]="lancamentoForm">
        <h4 class="textSelect">Lançamento</h4>
        <mat-form-field>
          <mat-label>Tipo de lançamento</mat-label>
          <mat-select formControlName="lancamento" name="lancamento"  #message>
            <mat-option *ngFor="let l of lancamentos" [value]="l.value">
              {{l.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div><br />
  
    <div class="button-row">
      <button mat-stroked-button color="primary" (click)="confirmar()">Confirmar</button>
      <button mat-stroked-button color="warn" routerLink="/login">Cancelar</button>
    </div>
  
  </div>