<div class="initial">

  <mat-card>Sistema de gerênciamento de ponto
    <img width="55" src="assets/logo.jpg">
  </mat-card><br />

  <p>Seja bem vindo <strong>{{nome}}</strong>.</p>

</div>

<div fxLayoutAlign="center">

  <form [formGroup]="lancamentoForm">
    <mat-label>Tipo de lançamento</mat-label>
    <mat-form-field class="selectCombo">
      <mat-select formControlName="lancamentoSelect" name="lancamentoSelect" fxFlex= "200">
        <mat-option *ngFor="let l of lancamentos" [value]="l.value">
          {{l.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form><br />
</div>

<div class="button-row" fxLayoutAlign="center">
  <button mat-stroked-button color="primary" (click)="confirmar()">Confirmar</button>
  <button mat-stroked-button color="warn" routerLink="/login">Cancelar</button>
</div>