  
.logo {
    display: flex;
    align-items: center;
    text-align: center;
}

button,
 .mat-icon-button,
  .mat-stroked-button {
    margin-top: 20px;
    margin-right: 10px;
}

.textSelect {
  margin-bottom: 0%;
}
