<mat-card class="titulo">Sistema de gerênciamento de ponto
    <img width="55" src="assets/logo.jpg">
</mat-card><br />

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Atrasos</p>
                      <h3 class="card-title">04/12</h3>                   
                     
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="#enviarEmail">Questionar atrasos.</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">attach_money</i>
                      </div>
                      <p class="card-category">Horar extras</p>
                      <h3 class="card-title">$7,245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Mês atual
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">alarm_off</i>
                      </div>
                      <p class="card-category">Faltas</p>
                      <h3 class="card-title">07/12</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="#enviarEmail">Questionar cargar não cumprida.</a>
                    </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">thumb_up</i>
                      </div>
                      <p class="card-category">Curtidas</p>
                      <h3 class="card-title">245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Ações
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Carga horária semanal</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes 
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Carga horária mensal</h4>
                      <p class="card-category">Produtividade mensal</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes 
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Faltas e atrasos</h4>
                      <p class="card-category">Faltas e atrasos mensal</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
